*{
    margin: 0px;
    box-sizing: border-box;
    transition: all 0.2s ease-out;
}
.background1{
    background: linear-gradient(
        180deg, #5f45fe 7.13%, #4652b7 96.94%);
        
        width: 100%;
        height: 100%;
}
.background2{
    height: 100%;
        background-image: url("cropped-White-Logo-54x54.png");
        background-size: 34px 34px;
        display: grid;
        grid-template-rows: auto auto;
}
.text{
    text-align: center;
    padding-top: 100px;
}
.darktxt{
    background-color: #3625b8;
    border-radius: 6px;
    padding: 10px 12px 10px 12px;
}
.text h1{
    color: rgb(255, 255, 255);
    font-family: PT Serif;
    font-size: 2.6rem;
    letter-spacing: 2px;
    font-weight: 600;
    opacity: 0.87;
    line-height: 1.6;
}
.top,.bottom{
    display: flex;
}
.leftpane{
    padding: 20px 20px 20px 0px;
    width: 33%;
    margin: 60px 0px 90px 0px;
    border-left: 6px solid #00000015;
}
.txt{
    margin: auto auto auto 20px;
}
.slider{
    display: flex;
    overflow: hidden;
}
.maincontent{
    padding: 0px 34px 0px 162px !important;
}
.lpb::before{
    content: "";
    margin: auto;
    height: 8px;
    width: 12px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
}
.leftpane li{
list-style: none;
position: relative;
left: -8px;
display: flex;
    width: fit-content;
    height: fit-content;
}
.buton1,.buton2,.buton3,.buton4{
    display: flex;
    margin: 20px 8px;
    padding: 4px 20px 4px 0px;
    color: white;
    position: relative;
    width: 300px;
    left: -22px;
    text-decoration: none;
    border-radius: 0px 8px 8px 0px;
}
.det1,.det2,.det3,.det4{
    font-size: 20px;
    padding: 12px 0px 20px 20px;
    color: white;
    display: none;
     opacity: 0.0;
   
}
.lp1:hover + .det1{
    display: block;
    opacity: 1; 
}
.lp2:hover + .det2{
    display: block;
    opacity: 1;
}
.lp3:hover + .det3{
    display: block;
    opacity: 1;
}
.lp4:hover + .det4{
    display: block;
    opacity: 1;
}
.buton1:hover,.buton2:hover,.buton3:hover,.buton4:hover{
    color: #524cda;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
}

#leftline1,#leftline2,#leftline3,#leftline4{
height: 92px;
visibility: hidden;
border-radius: 4px 0px 0px 4px;
margin: auto;
position: relative;
left: -14px;
width: 10px;
background-color: #9ca6fc;
}
.buton1:hover + #leftline1{
    visibility: visible;
}
.buton1:hover .logo,.buton2:hover .logo,.buton3:hover .logo,.buton4:hover .logo{
background-color: #544bdf;
}
.logo{
    height: 60px;
    width: 60px;
    margin: 12px 12px 12px 14px;
    border-radius: 4px;
    background-color: white;
}
.slider {
    width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory; 
    border-radius: 8px;
    transition: all 0.3s ease;
}
.slider::-webkit-scrollbar {
  display: none;
  }
  .slide {
    width: 100%;
    flex-shrink: 0;
    scroll-snap-align: start;
    display: flex;
  }
  .slide a{
      width: 100%;
  }
  .slide img{
    width: 100%;
}
.bottom{
    padding: 0px 0px 80px 0px;
    margin: 0px 0px 40px 0px;
}
.leftbuttons{
width: 33%;
display: flex;
}
.rightbuttons{
width: 61%;
display: flex;
justify-content: center;
}
.lm,.rad{
    padding: 20px;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 4px;
    color: #1f276a;
    background-color: #9ca6fc;
}
.rad{
    margin-left: 40px;
}
.lm:hover,.rad:hover{
    color: #3c46a0;
    text-decoration: none;
    background-color: #ffffff;
}
.leftarrow{
height: 74px;
width: 74px;
margin: 0px 20px;
background-color: white;
border-radius: 50%;
}
.rightarrow{
    height: 74px;
width: 74px;
margin: 0px 20px;
background-color: white;
border-radius: 50%;
}
